<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{block "title"}}</title>

    {{> header}}
    {{block "headscript"}}
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button data-target="#navbar-main" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"><img src="/img/logo_50h.png" alt="slackerQ Logo" title="slackerQ Logo" height="50px"></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/sites">Manage Tasks</a>
                </li>
                <li>
                    <a href="/activity">Activity Log</a>
                </li>                
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="color:#000">{{username}}<i style="margin-left:5px;" class="icon-chevron-down"></i></a>
                    <ul role="menu" aria-labelledby="dropdownMenu" class="dropdown-menu">
                        <!--<li><a tabindex="-1" href="/profile">My account / Billing</a></li>-->
                        <li><a tabindex="-1" href="/signout">Signout</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<div class="container">
    {{{body}}}
</div>
{{> footer}}
{{{block "footerscripts"}}}
</body>
</html>