<img src="/img/logo_50h.png" alt="slackerQ Logo" title="slackerQ Logo">
<p>Hi,</p>
<br>
<p>Captions do not match.</p>
<p>Posted by {{ user.firstName }} {{ user.lastName }}</p>
<p> Job Id: {{job._id}}</p>
<p> Media Url:{{link}}</p>
<p>Caption Entered: {{job.data.caption}}</p>
<p>Caption returned from IGAPI: {{caption}}</p>
<p></p>
<p>Thank you,</p>
<p>slackerQ</p>