<div class="list-group">
    {{#unless sites.length}}
        <div class="alert alert-warning">You didn't add any tasks yet. Go ahead and be more productive!</div>
    {{/unless}}
    {{#if sites.length}}
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>About</th>
            <th>Do what?</th>
            <th>How Important?</th>
            <th>Finish by</th>
            <th>Current Status</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>

        {{#each sites}}
            <tr class="b-siteList__item" data-id="{{_id}}">
            <td>
                {{keyword}}
            </td>
            <td>
                {{description}}
            </td>
            <td>
                {{importance}}
            </td>
            <td>
                {{time}}
            </td>
            <td>-NA-</td>
            <td><button class="btn btn-danger b-siteList__removeButton" type="button">Remove</button></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
</div>